<div style="margin-bottom:10px">
  <h2 class="display-1">A cerca de</h2>

     <p class="bio">
          Miguel Pérez León - Alistano/Tabarés por Zamora <br>
          📚 Estudiante de Ingeniería informática en sistemas de información - USAL <br>
          Aficionado al diseño gráfico
     </p>
     <img class="img-profile" src="assets/img/profile.jpg">
     <img class="img-profile" src="assets/img/profile2.jpg"><br><br>

     <p class="bio display-6">Diseños:</p>

     <p class="bio">Filtros Instagram Histories:</p>
     <img class="img-profile col" src="assets/img/mask_texture_01.png">
     <img class="img-profile col" src="assets/img/mask_texture_02.png"><br><br>
     <p class="bio">Wallpapers:</p>

     <img class="img-profile col" src="assets/img/off_white_sup_ipad_wall.jpg">
     <img class="img-profile col" src="assets/img/nasa_logo_neon_wallpaper.jpg"><br><br>
     <p class="bio">Playlist Spotify:</p>

     <img class="img-profile col" src="assets/img/plyst_work.jpg">
     <img class="img-profile col" src="assets/img/plyst_ice.jpg">
     <img class="img-profile col" src="assets/img/plyst_trp.jpg"><br>


</div>
