<div>
  <h2 class="display-1 subtitle-box m-0">A cerca de</h2>

  <p class="bio display-5">Miguel Pérez León <br /></p>

  <p class="bio display-6">
    Desarrollador software especializado en desarrollo web <br />
  </p>

  <img class="img-profile" src="assets/img/profile2.jpg" /><br /><br />

  <p class="bio">
    📚 Graduado en Ingeniería informática en sistemas de información - USAL
    <br />
    Experiencia en desarrollo front-end con Angular, tambien en desarrollo
    back-end con Java y frameworks como SpringBoot.<br />
    Conocimiento en teconologias MySQL, Bootstrap, Php, Java, HTML, CSS, C,
    Python. <br />
    Aficionado al diseño gráfico
  </p>
  <p class="bio display-6">Experiencia laboral:</p>

  <p class="bio">
    Estudiante en practicas en la empresa iTerSolutions Valladolid<br>
    Desarrollador full-stack en Serbatic Zamora<br>
    Desarrollador front-end en Serbatic Zamora<br>
    <a href="https://www.linkedin.com/in/miguel-p%C3%A9rez-le%C3%B3n-b39a3123b">más info...</a>
  </p>

  <div id="accordionExample">
    <div >
      <h2  id="headingOne">
        <button class="display-6" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Recursos
        </button>
      </h2>
      <div id="collapseOne" aria-labelledby="headingOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="">
          <p class="bio"> Fondo mosaico de iconos de <a href="https://www.dreamstale.com/freebie-icon-pattern-backgrounds-set/">Dreamstale</a>.</p><p>
          </p><p class="bio"> Iconos de las páginas <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>.</p>
          <p class="bio"> Fuentes enlazadas con  <a href="https://fonts.google.com/">Google Fonts</a>.</p>
          <p class="bio"> Ilustrations made from <a href="https://2.flexiple.com/scale/home">Scale by flexiple</a> and <a href="https://www.pixeltrue.com/free-illustrations">Pixeltrue.</a></p>
          <p class="bio"> File extension icons in Droppper by <a href="https://dribbble.com/shots/2888226-1800-Free-Minimal-Icon-Pack-20x20">Alexandru Stoica</a>.</p>
        </div>
      </div>
    </div>
  </div>

</div>
