<div style="margin-bottom:10px">
  <h2 class="display-1 subtitle-box m-0 mb-2">Recursos</h2>

  <p class="bio">
    <a href="https://www.redbubble.com/es/people/Myki-99-Store/shop?asc=u&ref=account-nav-dropdown">tienda en redbubble...</a>
  </p>
  
  <p class="bio">Diseños</p>
  <img class="img-profile col" src="assets/img/mask_texture_01.png" />
  <img class="img-profile col" src="assets/img/mask_texture_02.png"/>
  <img class="img-profile col" src="assets/img/bda_coord_02.jpeg"/>
  <img class="img-profile col" src="assets/img/bda_coord.jpeg"/>
  <img class="img-profile col" src="assets/img/zam_coord.jpeg"/>
  <br/><br/>

  <p class="bio">Wallpapers</p>
  <img class="img-profile col" src="assets/img/off_white_sup_ipad_wall.jpg" />
  <img
    class="img-profile col"
    src="assets/img/nasa_logo_neon_wallpaper.jpg"
  /><br /><br />

  <p class="bio">Playlist Spotify</p>
  <img class="img-profile col" src="assets/img/plyst_work.jpg" />
  <img class="img-profile col" src="assets/img/plyst_ice.jpg" />
  <img class="img-profile col" src="assets/img/plyst_trp.jpg" /><br />

</div>
