<div class="m-0 g-0 p-0">
  <!-- Toolbar -->
    <div class="row title-box my-3 justify-content-right">
      <a class="no-decoration" routerLink="/about" role="button" (click)="onLinkClicked('about')"><h1 class="display-1">MYKI STUDIO</h1></a>
    </div>

    <div class="content-box mx-2 row">
      <div class="col-md-12 col-lg-2 headerMyki m-0 px-0" role="banner" >
        <div class="justify-content-center">
          <img class="img-profile" src="assets/img/profile_2.jpg" /><br /><br />
          <div  *ngIf="activeTab != 'proyects'" class="box-mas">
            <a class="boton-mas fs-3" routerLink="/proyects" role="button" (click)="onLinkClicked('proyects')" ><span class="display-6">Proyectos</span></a>
          </div>
          <div *ngIf="activeTab === 'proyects'" class="box-mas-active">
            <a class="boton-mas-active fs-3" routerLink="/proyects" role="button" (click)="onLinkClicked('proyects')" ><span class="display-6">Proyectos</span></a>
          </div>
          <div  *ngIf="activeTab != 'resources'" class="box-mas">
            <a class="boton-mas fs-3" routerLink="/resources" role="button" (click)="onLinkClicked('resources')"><span class="display-6">diseños</span></a>
          </div>
          <div *ngIf="activeTab === 'resources'" class="box-mas-active">
            <a class="boton-mas-active fs-3" routerLink="/resources" role="button" (click)="onLinkClicked('resources')"><span class="display-6">diseños</span></a>
          </div>
          <div  *ngIf="activeTab != 'about'" class="box-mas">
            <a class="boton-mas fs-3" routerLink="/about" role="button" (click)="onLinkClicked('about')"><span class="display-6">quien soy</span></a>
          </div>
          <div *ngIf="activeTab === 'about'" class="box-mas-active">
            <a class="boton-mas-active fs-3" routerLink="/about" role="button" (click)="onLinkClicked('about')"><span class="display-6">quien soy</span></a>
          </div>
        </div>
      </div>

      <div class="col-lg-10 col-md-12 content-box p-0 g-0 m-0 " role="main">
        <div class="p-0 g-0 m-0 justify-content-centers">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

    <footer class=" my-3 pt-2 px-3 title-box row">
      <div class="col-md-8 col-sm-12 pt-2">
        <p class="bio silkscreen">Designed by <u>MykiStudio.</u></p>
      </div>
      <div class="col-md-4 col-sm-12 row justify-content-end">
        <a class="box-redes" href="https://twitter.com/_myki99" role="button">
          <i class="fab fa-twitter boton-redes"></i>
        </a>
        <a class="box-redes" href="https://www.instagram.com/myki_99/" role="button">
          <i class="fab fa-instagram boton-redes"></i>
        </a>
        <a class="box-redes" href="https://www.youtube.com/channel/UCUeqOdBIARGBeaIcxmflefQ" role="button">
          <i class="fab fa-youtube boton-redes"></i>
        </a>
        <a class="box-redes" href="https://www.twitch.tv/myki_99" role="button">
          <i class="fab fa-twitch boton-redes"></i>
        </a>
        <a class="box-redes" href="https://www.linkedin.com/in/miguel-p%C3%A9rez-le%C3%B3n-b39a3123b" role="button">
          <i class="fab fa-linkedin boton-redes"></i>
        </a>
        <a class="box-redes" href="https://github.com/mperleo" role="button">
          <i class="fab fa-github boton-redes"></i>
        </a>
      </div>
        
    </footer>
</div>
