<div class="row">
  <!-- Toolbar -->
  <div class="toolbar col-2 headerMyki" role="banner" style="height: 100vh;">
    <div class="row d-flex flex-row">
      <div class="justify-content-center">
        <div class="col-12">
          <a class="text-vertical" routerLink="/proyects"><h1 class="satine">MYKI STUDIO</h1></a>
        </div>
        <div class="col-12 box-mas">
          <a class="boton-mas" routerLink="/proyects">Proyectos</a>
        </div>
        <div class="col-12 box-mas">
          <a class="boton-mas" routerLink="/resources">recursos</a>
        </div>
        <div class="col-12 box-mas">
          <a class="boton-mas" routerLink="/about">Quien soy</a>
        </div>
        <div class="col-12 mt-5">
          <div class="row justify-content-center">
            <a class="box-redes" href="https://twitter.com/_myki99" role="button">
              <i class="fab fa-twitter boton-redes"></i>
            </a>
            <a class="box-redes" href="https://www.instagram.com/myki_99/" role="button">
              <i class="fab fa-instagram boton-redes"></i>
            </a></div>
            <div class="row justify-content-center">
              <a class="box-redes" href="https://www.youtube.com/channel/UCUeqOdBIARGBeaIcxmflefQ" role="button">
                <i class="fab fa-youtube boton-redes"></i>
              </a>
              <a class="box-redes" href="https://www.twitch.tv/myki_99" role="button">
                <i class="fab fa-twitch boton-redes"></i>
              </a>
            </div>
            <div class="row justify-content-center">
              <a class="box-redes" href="https://www.linkedin.com/in/miguel-p%C3%A9rez-le%C3%B3n-b39a3123b" role="button">
                <i class="fab fa-linkedin boton-redes"></i>
              </a>
              <a class="box-redes" href="https://github.com/mperleo" role="button">
                <i class="fab fa-github boton-redes"></i>
              </a>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content col-10" role="main">
    <div class="col-12" style="overflow: auto; height: 95vh; margin-top: 2vh">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
