<div>
  <h2 class="display-1 subtitle-box m-0 py-0">proyectos</h2>
  <div
    class="justify-content-center row row-cols-lg-3 row-cols-md-3 row-cols-sm-2 g-0"
  >
    <div
      class="my-3 mx-3 border-card"
      style="max-width: 540px"
      *ngFor="let app of appList"
    >
      <div class="row g-0 border-card">
        <div class="col-md-7 align-self-center border-card-img">
          <img
            src="{{ app.img }}"
            class="img-fluid text-bg-light "
            alt="{{ app.name }} banner"
          />
        </div>
        <div class="col-md-5">
          <div>
            <div class="border-title">
              <a class="a-underline" href="{{ app.url }}"><span class="a-text">{{ app.name }}</span></a>
            </div>
            <div>
              <p class="card-text bio">{{ app.description }}</p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
