$base-color: #F5F5F5
$text-color: #232325

.border-card
  border: 1px solid

.border-card-img
  border-right: 1px solid

.border-title
    border-bottom: 1px solid

.a-underline
    color: $text-color

.a-text
    color: $text-color