body
  background-image: url('assets/img/tan-vintage-paper.jpg')
  background-color: black
  font-family: 'Ministry-of-Moron'
  color: whitesmoke
  margin: auto
  text-align: center

h1
  padding-top: 15px
  padding-bottom: 15px
  font-size: 85px
  font-family: 'Ministry-of-Moron', sans-serif
  text-transform: uppercase
  color: black

h2
  padding-top: 15px
  padding-bottom: 15px
  font-size-adjust: 1
  font-family: 'Ministry-of-Moron', sans-serif
  text-transform: uppercase
  color: white

h3
  font-family: 'Ministry-of-Moron', sans-serif
  text-transform: uppercase
  font-size: 15px

.img-profile
  max-width: 300px
  max-height: 200px
  border-radius: 3px

.img-profile:hover
  box-shadow: floralwhite

.box-redes
  width: 60px

.boton-redes
  color: black
  font-size: 40px
  text-decoration: none
  text-align: center

.boton-redes:hover
  color: black

.boton-mas
  font-size: 25px
  text-decoration: none
  color: black
  text-align: center
  text-transform: uppercase
  font-family: 'Ministry-of-Moron', sans-serif

.boton-mas:hover
  color: white

.box-mas
  width: 300px

.box-mas:hover
  background-color: black
  color:white

.bio
  font-family: 'Courier New', Courier, monospace

footer
  justify-content: center
  display: flex
  margin-top: 30px

@font-face
  font-family: 'Ministry-of-Moron'
  src: url('assets/fonts/Ministry-of-Moron.ttf.woff') format('woff'), url('assets/fonts/Ministry-of-Moron.ttf.svg#Ministry-of-Moron') format('svg'), url('assets/fonts/Ministry-of-Moron.ttf.eot'), url('assets/fonts/Ministry-of-Moron.ttf.eot?#iefix') format('embedded-opentype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'satine'
  src: url('assets/fonts/Satine.woff') format('woff')
  font-weight: normal
  font-style: normal

.satine
  font-family: 'satine','Ministry-of-Moron',monospace
